$black: #232323;
$green1: #74B71B;
$green2: #649C1A;
$green3: #006A4E;
$red1: #E64580;
$red2: #E7246B;
$gray1: #D8D8D8;
$gray2: #838EAB;
$gray3: #757575;
$white: #FFFFFF;
$yellow1: #F0D946;
$yellow2: #DCB81D;