.app-card {
  border: solid 1px #D8D8D8;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  height: 420px;
  padding: 17px 20px;
  background-color: #FFFFFF;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  .app-card > .card-image {
    width: 200%;
    margin-left: -50%;
    text-align: center; }
  .app-card .out-of-stock {
    position: absolute;
    right: 0;
    top: 11.5px; }
  .app-card > .card-hover {
    width: 100%;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    padding: 17px 20px;
    background-image: url("/assets/images/background-card.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    transition: opacity ease-in-out 0.3s; }
    .app-card > .card-hover.background-gray {
      background-color: rgba(217, 217, 217, 0.6); }
    .app-card > .card-hover.background-green {
      background-color: rgba(115, 182, 27, 0.9);
      color: #FFFFFF; }
    .app-card > .card-hover > .card-hover-content {
      position: relative;
      height: 100%; }
      .app-card > .card-hover > .card-hover-content > .app-button {
        position: absolute;
        bottom: 17px; }
        .app-card > .card-hover > .card-hover-content > .app-button.secondary-2 {
          background-color: #74B71B; }
        .app-card > .card-hover > .card-hover-content > .app-button.fit-content {
          background-color: transparent;
          top: 0; }
      .app-card > .card-hover > .card-hover-content > .app-text-paragraph {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%); }
  .app-card:hover > .card-hover {
    visibility: visible;
    opacity: 1; }
  .app-card > .is-new-label {
    position: absolute;
    top: -9px;
    right: -25px;
    background-color: #DCB81D;
    padding: 22px 22px 5px 22px;
    transform: rotate(45deg);
    border-radius: 4px;
    z-index: 2;
    color: #FFFFFF; }
