.app-icon {
  display: inline-block; }
  .app-icon.instagram {
    -webkit-mask-image: url("/assets/images/instagram-icon.svg");
    mask-image: url("/assets/images/instagram-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.facebook {
    -webkit-mask-image: url("/assets/images/facebook-icon.svg");
    mask-image: url("/assets/images/facebook-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.twitter {
    -webkit-mask-image: url("/assets/images/twitter-icon.svg");
    mask-image: url("/assets/images/twitter-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.love {
    -webkit-mask-image: url("/assets/images/love-icon.svg");
    mask-image: url("/assets/images/love-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.love-outline {
    -webkit-mask-image: url("/assets/images/love-icon-outline.svg");
    mask-image: url("/assets/images/love-icon-outline.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.point {
    -webkit-mask-image: url("/assets/images/point-icon.svg");
    mask-image: url("/assets/images/point-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.full-star {
    -webkit-mask-image: url("/assets/images/full-star-icon.svg");
    mask-image: url("/assets/images/full-star-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.half-star {
    -webkit-mask-image: url("/assets/images/half-star-icon.svg");
    mask-image: url("/assets/images/half-star-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.eye {
    -webkit-mask-image: url("/assets/images/eye-icon.svg");
    mask-image: url("/assets/images/eye-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.no-data {
    -webkit-mask-image: url("/assets/images/no-data-icon.svg");
    mask-image: url("/assets/images/no-data-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover; }
  .app-icon.white {
    background-color: #FFFFFF; }
  .app-icon.green {
    background-color: #74B71B; }
  .app-icon.yellow {
    background-color: #F0D946; }
  .app-icon.gray {
    background-color: #D8D8D8; }
  .app-icon.red {
    background-color: #E7246B; }
