.app-text-paragraph.size-12 {
  font-size: 12px; }

.app-text-paragraph.size-14 {
  font-size: 14px; }

.app-text-paragraph.size-16 {
  font-size: 16px; }

.app-text-paragraph.size-18 {
  font-size: 18px; }

.app-text-paragraph.size-20 {
  font-size: 20px; }

.app-text-paragraph.size-22 {
  font-size: 22px; }

.app-text-paragraph.weight-regular {
  font-weight: normal; }

.app-text-paragraph.weight-medium {
  font-weight: 500; }

.app-text-paragraph.weight-semibold {
  font-weight: 600; }

.app-text-paragraph.weight-bold {
  font-weight: bold; }
