.app-text-paragraph.size-12, .app-text-span.size-12 {
  font-size: 12px; }

.app-text-paragraph.size-14, .app-text-span.size-14 {
  font-size: 14px; }

.app-text-paragraph.size-16, .app-text-span.size-16 {
  font-size: 16px; }

.app-text-paragraph.size-18, .app-text-span.size-18 {
  font-size: 18px; }

.app-text-paragraph.size-20, .app-text-span.size-20 {
  font-size: 20px; }

.app-text-paragraph.size-22, .app-text-span.size-22 {
  font-size: 22px; }

.app-text-paragraph.weight-regular, .app-text-span.weight-regular {
  font-weight: normal; }

.app-text-paragraph.weight-medium, .app-text-span.weight-medium {
  font-weight: 500; }

.app-text-paragraph.weight-semibold, .app-text-span.weight-semibold {
  font-weight: 600; }

.app-text-paragraph.weight-bold, .app-text-span.weight-bold {
  font-weight: bold; }

.app-text-paragraph.color-red, .app-text-span.color-red {
  color: #E64580; }

.app-text-paragraph.color-green, .app-text-span.color-green {
  color: #74B71B; }

.app-text-paragraph.color-black, .app-text-span.color-black {
  color: #232323; }

.app-text-paragraph.color-white, .app-text-span.color-white {
  color: #FFFFFF; }

.app-text-paragraph.color-gray, .app-text-span.color-gray {
  color: #838EAB; }
