@import '../../styles/colors';
@import '../../styles/scree-size';

.app-header {
  padding: 0 100px;
  height: 100px;
  border-bottom: solid 1px $gray1;

  .header-logo {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate((0, -50%))
  }
}

@media (max-width: $screen-mobile) {
  .app-header {
    padding: 0 20px;

    .header-logo {
      left: 50%;
      top: 50%;
      transform: translate((-50%, -50%))
    }
  }
}
