@import '../../styles/colors';
@import '../../styles/scree-size';

.app-footer {
  padding: 0 100px;
  background-color: $black;
  color: white;
  min-height: 100px;
  line-height: 100px;
  overflow: hidden;

  >.social-media-icon {
    padding-top: 6px;
    height: 100%;

    >.app-icon {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  >.footer-copyright {
    float: right;
  }
}

@media (max-width: $screen-tablet) {
  .app-footer {
    line-height: 30px;
    text-align: center;
    
    >.social-media-icon {
      padding-top: 20px;
      width: 100%;
    }
    
    >.footer-copyright {
      float: none;
    }
  }
}

@media (max-width: $screen-mobile) {
  .app-footer {
    line-height: 100px;
    >.social-media-icon {
      padding-top: 6px;
    }
    >.footer-copyright {
      display: none;
    }
  }
}